<br>
<div class="container">
  <div class="row row-cols-sm-2 row-cols-md-3 ">
    <% @physician.appointments.each do |appointment| %> 
    <div class="col-sm-6">
      <br>
    <div class="card  w-75">
      <div class="card-body">
        <h5 class="card-title">Paciente: <%= appointment.patient.name %></h5>
        <p class="card-text">Data e Hora: <%= appointment.appointment_date.strftime(" %m, %b,  %Y - %H:%M") %></p>
        <%= link_to 'Editar Consulta', edit_appointment_path(appointment),  class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>