<body style="background-color: #A5DAE0;">
    

<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="https://img.freepik.com/vetores-premium/medico-e-paciente-na-mesa-no-escritorio-do-hospital-consulta-clinica-para-exame-reuniao-com-medico-conversa-com-medico-sobre-resultados-de-diagnostico_284092-936.jpg?w=1380" style="width: auto;" class="img-fluid animated">
      <h2>Bem vindo ao MedOffice</h2>
      <p>Sistema de consultório médico, uma plataforma online que ajuda a simplificar a gestão e organização de consultórios e clínicas médicas.</p>
      <div class="d-flex">
        <a href="Consultas" class="btn btn-primary">Ver consultas</a>
      </div>
    </div>
  </section>

</body>