<br>
<div class="row">
  <div class="col-xs-6">
    <h3 class="panel-title text-center">Pacientes</h3>
      
    
  </div>
</div>

<hr style="background-color: black
;">


<div class="row text-center" style=" --bs-gutter-x: -15rem;">
<% @patients.each do |patient| %> 
<div class="col-sm-3 text-center">
<div class="container">
<div class="a-box">
  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew">
        <img src="https://cdn-icons-png.flaticon.com/512/754/754554.png">
      </div>
    </div>
  </div>
  <div class="text-container"> 
    <h3>Paciente: <%= patient.name %></h3>
    <div>
      <h3>Descriçao: <%= patient.descricao %></h3>
    </div>
    <br>
    <td><%= link_to 'Detalhes', patient,  class: 'btn btn-outline-info' %></td>
      <td><%= link_to 'Editar', edit_patient_path(patient), class: 'btn btn-outline-success' %></td>
  </div>
</div>
</div>
</div>

<% end %>

</div>


<br>
<br>
<br>

