
<br>
<div class="container">
  <div class="row row-cols-sm-2 row-cols-md-3 ">
   <% @patients.each do |patient| %> 
    <div class="col-sm-6">
      <br>
    <div class="card  w-75">
      <div class="card-body">
        <h5 class="card-title">Paciente:<%= patient.name %></h5>
        <h5 class="card-title">Paciente:<%= patient.descricao_paciente %></h5>
        <%= link_to 'Editar Paciente',edit_patient_path(patient),  class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<%= link_to 'New Patient', new_patient_path %>