/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #rodape{
   background: rgba( 255, 255, 255, 0.35 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 13.5px );
   -webkit-backdrop-filter: blur( 13.5px );
  
   border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:100%;
  }
  html {
     height: 100%;
  }
  
  body {
     min-height: 100%;
     position: relative;
     background-image: url(https://img.freepik.com/fotos-gratis/abstratos-blur-hospitalar-clinica-interior_1203-7890.jpg?w=1380);
     background-size: cover;
     background-repeat: no-repeat;
  }
  #rodape{
    position: absolute;
    bottom: 0;
  }
  .navbar{
   
      background: rgba( 255, 255, 255, 0.35 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      -webkit-backdrop-filter: blur( 13.5px );
     
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
 