/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #rodape{
   background: rgba( 255, 255, 255, 0.35 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 13.5px );
   -webkit-backdrop-filter: blur( 13.5px );
  
   border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:100%;
  }
  html {
     height: 100%;
  }
  
  body {
     min-height: 100%;
     position: relative;
    
     background-size: cover;
     background-repeat: no-repeat;
  }
  #rodape{
    position: absolute;
    bottom: 0;
  }
  .navbar{
   
      background: rgba( 255, 255, 255, 0.35 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      -webkit-backdrop-filter: blur( 13.5px );
     
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    
  }

 


  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-header h2 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--color-secondary);
  }
  
  .section-header p {
    margin: 0 auto;
    color: var(--color-secondary-light);
  }
  
  @media (min-width: 1280px) {
    .section-header p {
      max-width: 80%;
    }
  }

  .hero-animated {
    width: 100%;
    min-height: 50vh;
    background: url("../img/hero-bg.png") center center;
    background-size: cover;
    position: relative;
    padding: 120px 0 60px;
  }
  
  .hero-animated h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 300;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
  }
  
  .hero-animated h2 span {
    color: var(--color-primary);
  }
  
  .hero-animated p {
    color: rgba(var(--color-secondary-rgb), 0.8);
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 400;
  }
  
  .hero-animated .animated {
    margin-bottom: 60px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (min-width: 992px) {
    .hero-animated .animated {
      max-width: 45%;
    }
  }
  
  @media (max-width: 991px) {
    .hero-animated .animated {
      max-width: 60%;
    }
  }
  
  @media (max-width: 575px) {
    .hero-animated .animated {
      max-width: 80%;
    }
  }
  
  .hero-animated .btn-get-started {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--color-white);
    background: var(--color-primary);
    font-family: var(--font-secondary);
  }
  
  .hero-animated .btn-get-started:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
  }
  
  .hero-animated .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
    font-weight: 600;
  }
  
  .hero-animated .btn-watch-video i {
    color: var(--color-primary);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero-animated .btn-watch-video:hover {
    color: var(--color-primary);
  }
  
  .hero-animated .btn-watch-video:hover i {
    color: rgba(var(--color-primary-rgb), 0.8);
  }
  
  @media (max-width: 640px) {
    .hero-animated h2 {
      font-size: 32px;
    }
  
    .hero-animated p {
      font-size: 18px;
      margin-bottom: 30px;
    }
  
    .hero-animated .btn-get-started,
    .hero-animated .btn-watch-video {
      font-size: 14px;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  /*--------------------------------------------------------------
  # Carousel Hero Section
  --------------------------------------------------------------*/
  .hero {
    width: 100%;
    padding: 0;
    background: var(--color-black);
    background: url("../img/hero-bg.png") center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 140px 0 60px 0;
  }
  
  .hero .carousel-item {
    overflow: hidden;
  }
  
  @media (max-width: 640px) {
    .hero .container {
      padding: 0 60px;
    }
  }
  
  .hero h2 {
    color: var(--color-secondary);
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 300;
    animation: fadeInDown 1s both 0.2s;
  }
  
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 30px;
    }
  }
  
  .hero p {
    color: var(--color-secondary-light);
    animation: fadeInDown 1s both 0.4s;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .hero .img {
    margin-bottom: 40px;
    animation: fadeInDownLite 1s both;
  }
  
  .hero .btn-get-started {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 5px;
    transition: 0.5s;
    animation: fadeInUp 1s both 0.6s;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
  
  .hero .btn-get-started:hover {
    background: var(--color-primary);
    color: var(--color-white);
  }
  
  .hero .carousel-control-prev {
    justify-content: start;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-prev {
      padding-left: 15px;
    }
  }
  
  .hero .carousel-control-next {
    justify-content: end;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-next {
      padding-right: 15px;
    }
  }
  
  .hero .carousel-control-next-icon,
  .hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: rgba(var(--color-secondary-rgb), 0.4);
    color: rgba(var(--color-white-rgb), 0.98);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero .carousel-control-next-icon {
    padding-left: 3px;
  }
  
  .hero .carousel-control-prev-icon {
    padding-right: 3px;
  }
  
  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    transition: 0.3s;
  }
  
  .hero .carousel-control-prev:focus,
  .hero .carousel-control-next:focus {
    opacity: 0.5;
  }
  
  .hero .carousel-control-prev:hover,
  .hero .carousel-control-next:hover {
    opacity: 0.9;
  }
  
  .hero .carousel-indicators li {
    cursor: pointer;
    background: rgba(var(--color-secondary-rgb), 0.5);
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .hero .carousel-indicators li.active {
    opacity: 1;
    background: var(--color-primary);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDownLite {
    from {
      opacity: 0;
      transform: translate3d(0, -10%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  

  .section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
  }
  
  .solution_card .so_top_icon {
  }
  
  .solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .our_solution_content p {
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      width: 50%;
      margin: 0 auto;
    }
  }
  